.logo{
    height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/10302/10302971.png);
    background-size: cover;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}